tmp
bin
build
*.zip
.DS_Store
.project
/metadata.json
/native-project/Pods
/native-project/Podfile.lock
native-project/test.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/*
*.xcuserstate
titanium-material.xcodeproj/project.xcworkspace/xcuserdata/*
titanium-material.xcodeproj/xcuserdata
